$font-family: Roboto, sans-serif;
$primary-color: #182c61;
$secondary-color: #44bd32;
$secondary-color-hover: #4cd137;
$background-color: #f5f6fa;
$max-width: 1024px;
$column-gap: 1%;
$row-gap: 4%;
$breakpoint-md: 1023px;
$breakpoint-sm: 767px;
